<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
  
  <joint name="camera_joint" type="fixed">
    <parent link="body"/>
    <child link="camera_link"/>
    <origin xyz="0.19 0 0.045" rpy="0 0 0"/>
  </joint>

  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.005 0.024 0.018"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_optical_link"/>
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </joint>

  <link name="camera_optical_link">
  </link>

</robot>
  